html {
  height: 100%;
}
body {
  height: 100%;
}

.login-form {
  display: flex;
  align-content: center;
  text-align: center;
  height: 80vh;
  align-items: center;
  justify-content: center;
}


.app-header {
  height: 50px;
  background-color: #19212b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header div{
  display: flex;
}

.app-header a{
  font-size: 16px;
  margin-right: 16px;
}

.header-title {
  display: flex;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.page {
  padding: 16px;
}



.App-link {
  color: #61dafb;
}

/* EMPLOYEE PAGE */
.emp-sec-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ic-add {
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
